ion-header {
  ion-toolbar {
    background: linear-gradient(135deg, #3880ff, #4cafef);
    color: #fff;
  }

  ion-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }

}